In [79]:
import numpy as np
import pandas as pd
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.datasets.samples_generator import make_blobs
from sklearn.preprocessing import StandardScaler


# #############################################################################
# Generate sample data
#centers = [[1, 1], [-1, -1], [1, -1]]
#X, labels_true = make_blobs(n_samples=750, centers=centers, cluster_std=0.4,
                           # random_state=0)

#X = StandardScaler().fit_transform(X)
path='D://4th Semester//Data Mining2//DMC//Dataset//'
df = pd.read_csv(path+'data4clustering.csv')
X = pd.read_csv(path+'data4clustering.csv')
X.drop(['key','size','pid','brand','color','releaseDate','rrp','size_normalization','total_sales','total_sales_range2'], axis=1, inplace=True)
X.head()

,brand_code,category,color_code,mainCategory,rrp_range,size_range,stock,subCategory,total_sales_range
0,0.0,1.428571,3.750,0.0,0.0,5.555556,0.0,5.365854,0.0
1,6.0,1.428571,8.125,0.0,2.5,4.444444,0.0,3.170732,0.0
2,6.0,1.428571,10.000,0.0,0.0,3.333333,0.0,2.439024,0.0
3,6.0,1.428571,10.000,0.0,0.0,4.444444,0.0,2.439024,0.0
4,6.0,1.428571,10.000,0.0,0.0,5.555556,0.0,2.439024,0.0

In [80]:

# #############################################################################
# Compute DBSCAN
X=X.fillna(0)
db = DBSCAN(eps=1, min_samples=5).fit(X)
#core_samples_mask = np.zeros_like(db.labels_, dtype=bool)
#core_samples_mask[db.core_sample_indices_] = True
labels = db.labels_
print(set(labels))
# Number of clusters in labels, ignoring noise if present.
n_clusters_ = len(set(labels)) - (1 if -1 in labels else 0)
n_clusters_

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, -1}

515

In [81]:
df.insert(3,'Cluster',labels)
df.to_csv(path+'clusters_v2.csv')
df.head()

,key,pid,size,Cluster,brand,brand_code,category,color,color_code,mainCategory,releaseDate,rrp,rrp_range,size_normalization,size_range,stock,subCategory,total_sales,total_sales_range,total_sales_range2
0,10000XL ( 158-170 ),10000.0,XL ( 158-170 ),0,Nike,0.0,1.428571,gruen,3.750,0.0,2017/10/1,25.33,0.0,XL,5.555556,0.0,5.365854,1.0,0.0,0.0
1,10001L,10001.0,L,1,Jako,6.0,1.428571,schwarz,8.125,0.0,2017/10/1,38.03,2.5,L,4.444444,0.0,3.170732,4.0,0.0,0.0
2,100033 (35-38 ),10003.0,3 (35-38 ),2,Jako,6.0,1.428571,weiss,10.000,0.0,2017/10/1,12.63,0.0,M,3.333333,0.0,2.439024,15.0,0.0,0.0
3,100034 ( 39-42 ),10003.0,4 ( 39-42 ),3,Jako,6.0,1.428571,weiss,10.000,0.0,2017/10/1,12.63,0.0,L,4.444444,0.0,2.439024,3.0,0.0,0.0
4,100035 ( 43-46 ),10003.0,5 ( 43-46 ),4,Jako,6.0,1.428571,weiss,10.000,0.0,2017/10/1,12.63,0.0,XL,5.555556,0.0,2.439024,11.0,0.0,0.0